@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  background-image: url("../../public/images/topMain.svg"), url("../../public/images/bottomMain.svg");
  background-position-y: 0px , 550px;
  background-repeat: no-repeat, no-repeat;
  min-width: 100vw;
  height: auto;
} */

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #FAF5FF;
}


