@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background-color: #eae2f3;
  font-family: 'Roboto', sans-serif;
}

nav button {
  border: none;
  border-bottom: 3px solid #b0a0c2;
  cursor: pointer;
  flex-shrink: 0;
  outline: none;
  background: none;
  color: black;
  box-shadow: none;
  transition: border-bottom 0.9s ease-in-out, transform 0.5s ease-in-out;
}

nav button:hover {
  border-bottom: 4px solid #604183;
  transition: border-bottom 1.2s ease-in-out, transform 0.5s ease-in-out;
}

nav button:active {
  transform: scale(0.98); /* Slight scale down on click for a pressing effect */
}

.TextInput {
  color: black;
}